{% extends '_includes/__base.html' %} {% load static %} {% block custom_css %}
<style>
  .text-custom-1 {
    color: #ff7675;
  }

  .showcase {
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
  }

  .showcase-text {
    margin: 6rem 0 5rem 13rem;
    padding: 1rem;
  }

  .showcase-img {
    height: 50vh;
    width: 50vw;
  }

  .card-row {
    max-width: 100vw;
  }

  @media only screen and (max-width: 600px) {
    .showcase-img {
      height: 50vh;
      width: 85vw;
    }

    .showcase-text {
      margin-left: 1rem !important;
      margin-top: 0;
    }
  }

</style>
{% endblock %} {% block content %}
<div class="row showcase m-0">
  <div class="m-5 col-md-4">
    <img src="{% static 'landing_page.svg' %}" alt="" class="showcase-img" />
  </div>
  <div class="text-uppercase showcase-text col-md-5">
    <h1 class="text-white">
      Don't let the lack of <span class="text-custom-1"> material </span> stop
      you from learning. <br /> <br />
      Explore the <span class="text-custom-1"> Listed </span> Material and start
      your learning Today
    </h1>
  </div>
</div>

<div class="container">
  <div class="text-center">
    <h2 class="text-white m-3">Explore Materials &GreaterGreater;</h2>
  </div>
  <div class="row card-row">
    <div class="col-6 col-md-3 d-md-flex m-3">
      {% include '_includes/tech_card.html' %}
    </div>
    <div class="col-6 col-md-3 d-md-flex m-3">
      {% include '_includes/tech_card.html' %}
    </div>
    <div class="col-6 col-md-3 d-md-flex m-3">
      {% include '_includes/tech_card.html' %}
    </div>
    <div class="col-6 col-md-3 d-md-flex m-3">
      {% include '_includes/tech_card.html' %}
    </div>
    <div class="col-6 col-md-3 d-md-flex m-3">
      {% include '_includes/tech_card.html' %}
    </div>
  </div>
</div>
{% endblock %}
