{% extends '_includes/__base.html' %} {% load socialaccount %}
{% block content %}

<style>
  .login-container {
    background-color: #dfe6e9;
    border-radius: 1rem;
  }

  .login-title {
    font-weight: bolder;
    font-size: 40px;
  }

</style>

<div class="container text-dark my-lg-5">
  <div class="row justify-content-md-center">
    <div class="col-md-5 login-container p-5 border-0">
      <form class="form-signin" method="POST">
        {% csrf_token %}
        <div class="text-center">
          <h3 class="login-title">Login</h3>
        </div>
        <label for="inputEmail" class="sr-only"> <i class="fas fa-at"></i> Username</label>
        <input type="email" id="inputEmail" class="form-control m-2" placeholder="Username" required autofocus />
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control m-2 mb-0" placeholder="Password" required />
        <small class="mx-2 my-0">
          <a href="{% url 'account_reset_password' %}">
            Forgot Password?
          </a>
        </small>
        <div class="checkbox mb-3">
          <label class="m-2">
            <input type="checkbox" value="remember-me" /> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
        </button>
        <a href="{% provider_login_url 'google' %}" class="btn btn btn-danger btn-lg btn-block" role="button"
          aria-pressed="true">
          <i class="fab fa-google mr-2"></i>
          Sign in with Google
        </a>
      </form>
      <div class="text-center">
        <small class="text-black-50">Don't have an account? <a href="{% url 'account_signup' %}">Sign up</a> </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
