<!-- <a href="#" style="color: #525f7f;">
    <div class="card grid-4 mb-3 p-3">
      <div class="card-body p-0">
        <div class="">
            <div class="d-flex flex-column align-items-center">
                <div class="p-2 text-center">
                    <img src="https://raw.githubusercontent.com/docker-library/docs/01c12653951b2fe592c1f93a13b4e289ada0e3a1/python/logo.png" class="border-0 app-logo-image" alt=""" layout="intrinsic" height="100" width="100">
                </div>
                <div class="my-2 px-2 text-center">
                    <h4> Python </h4>
                </div>
                <small>
                  <i class="fas fa-arrow-alt-circle-up"></i> 2000
                </small>
            </div>
        </div>
      </div>
    </div>
    </a> -->




<div class="custom-card">
    <a href="#">
        <div class="row mx-3 py-3">
            <div class="col-6 col-md-4">
                <img src="https://raw.githubusercontent.com/docker-library/docs/01c12653951b2fe592c1f93a13b4e289ada0e3a1/python/logo.png"
                    class="border-0 app-logo-image" alt=""" layout=" intrinsic" height="40" width="40">
            </div>
            <div class="col-6 col-md-4">
                <h3 class="my-1">Python</h3>
            </div>
            <div class="col-6 col-md-4">

            </div>
        </div>
    </a>
</div>

<style>
    .custom-card {
        border: 2px solid #ff7675;
        border-radius: 10px;
        background-color: #ecf0f1;
        box-shadow: 1px solid rgba(0, 0, 0, 0.25);
    }

</style>
